<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
<title>Add more book</title>
<link type="text/css" rel="stylesheet" href="css/bootstrap.mins.css" th:href="@{css/bootstrap.min.css}"/>
</head>
<body>
<div class="container-sm">
<div class="badge rounded-pill bg-warning text-dark">
<h5 th:inline="text" class="text-center">Add More Book You Love To The List</h5>
</div>
<form class="form-label" th:object="${book}" th:action="@{save}" action ="#" method="post">
<label for="categorylist">Category</label>
<select id="categorylist" th:field="*{category}" class="form-control">
<option th:each="category:${categories}" th:value="${category.categoryId}" th:text = "${category.name}"></option>
</select>
<label for="author">Author</label>
<input type="text" id="author" th:field="*{author}"/>
<label for="title">Title</label>
<input type="text" id="title" th:field="*{title}"/>
<label for="isbn">ISBN</label>
<input type="text" id="isbn" th:field="*{isbn}"/>
<label for="year">Year</label>
<input type="number" id="year" th:field="*{year}"/>
<label for="price">Price</label>
<input type="number" step="0.01" id="price" th:field="*{price}"/>
<input type="submit" value="Save" class="btn btn-info"/>
</form>
</div>
</body>
</html>