<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
<title>Book List</title>
<link type="text/css" rel="stylesheet" href="css/bootstrap.mins.css" th:href="@{css/bootstrap.min.css}"/>
</head>
<body>
<h3 th:text="'Books'"></h3>
<table class="table table-striped">
<tr>
<th>Category</th>
<th>Author</th>
<th>Title</th>
<th>ISBN</th>
<th>Year</th>
<th>Price</th>
</tr>

<tr th:each = "book : ${books}">
	<td th:text ="${book.category.name}"></td>
	<td th:text ="${book.author}"></td>
	<td th:text ="${book.title}"></td>
	<td th:text ="${book.isbn}"></td>
	<td th:text ="${book.year}"></td>
	<td th:text ="${book.price}"></td>
	<td><a th:href="@{/delete/{id}(id=${book.id})}" class="btn btn-danger">Delete</a></td>
	<td><a th:href="@{/edit/{id}(id=${book.id})}" class="btn btn-info">Edit</a></td>
</tr>
</table>
<a th:href="@{/add}" class="btn btn-success">Add Book</a>
</body>
</html>