<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Book List</title>
<link type="text/css" rel="stylesheet" href="css/bootstrap.mins.css"
	th:href="@{css/bootstrap.min.css}" />
</head>
<body>
<div class="container">
	<div class="col-md-4">
	<div class="badge rounded-pill bg-warning text-dark">
	<h1 th:inline="text" class="text-center">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
	</div>
	</div>
	<div class="text-center">
	<h3 class="alert alert-danger" th:text="'The list of books we have :) - check it out!'"></h3>
	</div>
	<div class="col-md-4" style="padding:20px 0">
	<form th:action="@{/logout}" method="post">
		<input type="submit" value="Sign Out" class="btn btn-sm btn-danger" />
	</form>
	</div>
	<table class="table table-success table-striped">
		<tr>
			<th>Category</th>
			<th>Author</th>
			<th>Title</th>
			<th>ISBN</th>
			<th>Year</th>
			<th>Price</th>
			<th sec:authorize="hasAuthority('ADMIN')"/>
			<th sec:authorize="hasAuthority('ADMIN')"/>
		</tr>

		<tr th:each="book : ${books}">
			<td th:text="${book.category.name}"></td>
			<td th:text="${book.author}"></td>
			<td th:text="${book.title}"></td>
			<td th:text="${book.isbn}"></td>
			<td th:text="${book.year}"></td>
			<td th:text="${book.price}"></td>
			<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/delete/{id}(id=${book.id})}"
				class="btn btn-danger">Delete</a></td>
			<td sec:authorize="hasAuthority('ADMIN')"><a th:href="@{/edit/{id}(id=${book.id})}"
				class="btn btn-warning">Edit</a></td>
		</tr>
	</table>
	<a th:href="@{/add}" class="btn btn-success">Add Book</a>
	</div>
</body>
</html>