<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
xmlns:th="http://www.thymeleaf.org">
<head>
<title>Modify Book</title>
<link type="text/css" rel="stylesheet" href="css/bootstrap.mins.css" th:href="@{css/bootstrap.min.css}"/>
</head>
<body>
<h1>Modify Book</h1>
<div>
<form th:object=${book} th:action="@{../save}" action="#" method="post">
<input type="hidden" th:field="*{id}" class="form-control"/>
<label for="categorylist">Category</label>
<select id="categorylist" th:field="*{category}" class="form-control">
<option th:each="category:${categories}" th:value="${category.categoryId}" th:text = "${category.name}"></option>
</select>
<input type="text" th:field="*{author}"/>
<input type="text" th:field="*{title}"/>
<input type="text" th:field="*{isbn}"/>
<input type="number" th:field="*{year}"/>
<input type="number" step="0.01" th:field="*{price}"/>
<input type="submit" value="OK" class="btn btn-info"/>
</form>
</div>
</body>
</html>